// Variables
$envb_gray:                   #969896;
$envb_red:                    #cc6666;
$envb_orange:                 #de935f;
$envb_yellow:                 #f0c674;
$envb_green:                  #b5bd68;
$envb_aqua:                   #8abeb7;
$envb_blue:                   #81a2be;
$envb_purple:                 #b294bb;

// Sets a solid background color, and a darker border color.
//
// $color - The color value to use for the background and border.
//
// Compatible in all browser.
@mixin colors($color: $envb_gray) {
  background-color:           $color;
  border-color:               darken($color, 20%);
}
