// Variables
$envb_gray:                   #969896;
$envb_red:                    #cc6666;
$envb_orange:                 #de935f;
$envb_yellow:                 #f0c674;
$envb_green:                  #b5bd68;
$envb_aqua:                   #8abeb7;
$envb_blue:                   #81a2be;
$envb_purple:                 #b294bb;

// Sets a solid background color, and a darker border color.
//
// $color - The color value to use for the background and border.
//
// Compatible in all browser.
@mixin colors($color: $envb_gray) {
  $gradient_top:              lighten($color, 5%);
  $gradient_bottom:           darken($color, 5%);

  background-color:           $color;
  background-image:           -ms-linear-gradient(bottom, $gradient_bottom 0%, $gradient_top 100%);
  background-image:           -moz-linear-gradient(bottom, $gradient_bottom 0%, $gradient_top 100%);
  background-image:           -webkit-linear-gradient(bottom, $gradient_bottom 0%, $gradient_top 100%);
  background-image:           -webkit-gradient(linear, left bottom, left top, color-stop(0, $gradient_bottom), color-stop(1, $gradient_top));
  background-image:           linear-gradient(bottom, $gradient_bottom 0%, $gradient_top 100%);
  border-color:               darken($color, 20%);
}
